<div class="jumbotron">
  <h1>Welcome to Expat Connection!</h1>
  <p>
    Looking for friends from all parts of the world? Join our app to connect with expatriates in your area. Learn about events in your area, make a post, or comment to interact with other users. You don't have to be an expat to join!
    <br />
    <br />
    Join our community by signing up below.
  </p>
</div>
