<nav class="navbar navbar-default">

      <a class="navbar-brand" href="/">Expat Connection</a>
    <div class="collapse navbar-collapse">
      <% if current_user %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'My Profile', user_path(current_user) %></li>
        <li><a href="/users">User Profiles</a></li>
        <li><a href="/posts">Post Feed</a></li>
        <li><a href="/posts/new">Add a Post</a></li>
        <li><%= link_to 'Log Out', logout_path, method: :delete %> </li>
        <% end %>
</nav>
